@font-face {
  font-family: "Ubuntu";
  src: url("/ubuntu.ttf") format("truetype");
}

body {
  font-family: "Ubuntu", sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  box-shadow: 4px 4px 7px #6c757d;
}

#homeBtn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 75%;
}

#homeIcon {
  height: 100%;
  width: auto;
}

/* Common rules for Recharge pages layout */
.rechargeColumn.col {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 176, 199, 1), rgba(0, 176, 199, 0.6));
  padding-right: 0px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
}

/* Rules for Recharge pages items */
.rechargeColumn.col > * {
  margin: 10px;
}

/* Common rules for Retrieve pages layout */
.retrieveColumn.col {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 199, 130, 1), rgba(0, 199, 130, 0.6));
  padding-right: 0px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
}

/* Rules for Retrieve pages items */
.retrieveColumn.col > * {
  margin: 10px;
}

.mainContainer.container {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100vw;
  height: 100vh;
}

.mainRow.row {
  height: 100%;
}

.eventHandler.container {
  max-width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.rowHandler.row {
  height: 100%;
}

.leftHandler.col {
  padding-right: 0px;
  padding-left: 0px;
}

.rightHandler.col {
  padding-right: 0px;
  padding-left: 0px;
}

.sticky.container {
  position: absolute;
  top: 4%;
  z-index: 10;
  width: 20%;
  height: 10%;
}

.sticky-right {
  right: 0%;
}

.sticky-left {
  left: 0%;
}

.sticky .sticky-row {
  height: 100%;
}

.sticky .sticky-row .sticky-col {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-col img {
  height: auto;
  width: 35%;
  margin: 0 2% 0 2%;
}

.gray {
  filter: grayscale(100%);
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card {
  box-shadow: 4px 4px 7px #6c757d;
}

.connectorCardGroup {
  height: 45%;
}

.connectorCard {
  margin: 0px 10px 0px 10px;
  height: 100%;
  width: 250px;
  justify-content: center;
}

.connectorCardBody.card-body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.connectorCardImg {
  max-width: 100%;
  height: auto;
}

.connectorCardFooter {
  text-align: center;
}

.customModal .close {
  display: none;
}

.customModal .modal-header {
  justify-content: center;
}

.customModal .modal-footer {
  justify-content: center;
}

.animationCard.card {
  height: 40%;
  width: 50%;
}

.animationCard.card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animationCard.card img {
  height: 50%;
  width: auto;
}

h1 {
  text-align: center;
  color: white;
}

.review-row {
  justify-content: space-evenly;
}

.behindSmiley {
  background: white;
  border-radius: 50%;
}

.meh-review {
  color: orange;
}

.bad-review {
  color: red;
}

.great-review {
  color: green;
}

.quickCenter {
  display: flex;
  justify-content: center;
}

.quickCenterCol.col {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nfcIndicator {
  position: absolute;
  top: 0%;
  height: 22%;
  width: auto;
}

.row.titleArea {
  justify-content: center;
  align-items: center;
}
